# Dependency directories
node_modules/

# Debug log from npm
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Operating System Files
.DS_Store
Thumbs.db
